
.block
{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.shape{
  width: 100px;
  height: 100px;
}

.cube{
  position: relative;
  transition:transform .5s;
  transform-style: preserve-3d;
}

.cube.outer{
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: spin 4s infinite cubic-bezier(.67,.03,.31,.98);
}

.cube.outer > .cube{
  width: 100px;
  height: 100px;
  transform: translateX(50px) translateY(50px);
  animation: spin-inner 4s infinite cubic-bezier(.67,.03,.31,.98);
}

.side{
  position: absolute;
  width: 100%;
  height: 100%;
  /*backface-visibility: hidden;*/
  
  font-size: 30px;
  line-height: 100px;
  text-align: center;
  opacity: .9;
  transition: all .2s linear;
  border: 1px solid #ff00fc;
  background: rgb(185 0 219 / 50%);
  box-shadow: inset 0 0 100% 0 rgba(109, 1, 119, 0.5);
  box-sizing: border-box;
}

.outer > .cube .side {  
  background: rgba(255, 255, 255, 0.25);
}

.side.left{
  transform: translateX(-50px) rotateY(-90deg);  
}

.cube.outer > .side.left{
  transform: translateX(-100px) rotateY(-90deg);  
}

.side.right{
  transform: translateX(50px) rotateY(90deg);  
}

.cube.outer > .side.right{
  transform: translateX(100px) rotateY(90deg);  
}

.side.top{ 
  transform: translateY(-50px) rotateX(90deg);  
}

.cube.outer > .side.top{
  transform: translateY(-100px) rotateX(90deg);  
}

.side.bottom{ 
  transform: translateY(50px) rotateX(-90deg);  
}

.cube.outer > .side.bottom{
  transform: translateY(100px) rotateX(-90deg);  
}

.side.front{
  transform: translateZ(50px); 
}

.cube.outer > .side.front{
  transform: translateZ(100px);  
}

.side.back{  
  transform: translateZ(-50px) rotateX(180deg);
}

.cube.outer > .side.back{
  transform: translateZ(-100px) rotateX(180deg); 
}




@keyframes spin {  
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  33.333% {
    transform: rotateX(-35deg) rotateY(-45deg);
  }
  66.666% {
    transform: rotateX(-35deg) rotateY(45deg);
  }  
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

@keyframes spin-inner {
  0% {
    transform: translateX(50px) translateY(50px) rotateY(0deg) rotateX(90deg);
  }
  33.333% {
    transform: translateX(50px) translateY(50px) rotateY(90deg) rotateX(90deg);
  }
  66.666% {
    transform: translateX(50px) translateY(50px) rotateY(-90deg) rotateX(90deg);
  }
  100% {
    transform: translateX(50px) translateY(50px) rotateY(0deg) rotateX(90deg);
  }
}


.hero{
  width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.tetrakubesales{
  width: 100%;
  height: 100vh;
}
html,body{
    margin:0;
    overflow:hidden;

  }
  img{
    width:100%;
    max-width:250px;
    position:absolute;
    top:45%;
    left:0;
    right:0;
    margin:0 auto
  }
      .large-header{
      background:linear-gradient(to bottom, #201a2b 0%,rgb(69, 24, 99) 37%,#7a1c83 61%,#a811a8 100%);
      text-align:center;
      width: 100vw;
      height: 100vh;
      
      }
  #x-canvas{
    opacity:0.5
  }


  .overlay{
      width: 100vw;
      height: 100vh;


      background:linear-gradient(to bottom, #201a2b 0%,rgb(69, 24, 99) 37%,#7a1c83 61%,#a811a8 100%);
      position: absolute;
      opacity: 1;
  }
  
  


  li {
    list-style-type: none;
}


#scene{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 0;
    margin: 0;
    
}


.slider-box {
  float: right;
  margin: 10px 20px;
  position: relative;
  z-index: 1000;
}

#range {
  margin-top: 5px;
  color: #eee;
  font-size: 10pt;
  margin-left: 10px;
  position: relative;
}

#specks {
  position: absolute;
  z-index: 999;
  height: 100vh;
  width: 100vw;
}

.speck {
  opacity: 0;
  height: 4px;
  width: 4px;
  background: url('http://i1272.photobucket.com/albums/y391/matthew_williams10/speck_zpsu9xym9zl.png');
  background-size: cover;
  position: absolute;
  border-radius: 10px;
  z-index: 99;
}

.img {
  position: absolute;
  height: 100000px;
  width: 100000px;
  top: -8500px;
  left: -8000px;
  animation-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
  animation-name: float;
  animation-iteration-count: infinite;
}

#img-1 {
  opacity: 0.25;
  background: url('https://image.ibb.co/jcTvpv/dust1.jpg');
  background-repeat: repeat;
  animation-duration: 600s;
}

#img-2 {
  opacity: 0.2;
  background: url('https://image.ibb.co/goU1Uv/dust2.jpg');
  background-repeat: repeat;
  animation-duration: 450s;
}

#img-3 {
  opacity: 0.15;
  background: url('https://image.ibb.co/cymRwa/dust3.jpg');
  background-repeat: repeat;
  animation-duration: 350s;
}
/*ANIMATIONS*/

@keyframes twinkle {
  0% {
    transform: translate(0px, 0px);
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translate(175px, 100px);
  }
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
      transform:translate(8000px, 4000px);
  }
}



.button {
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
  bottom: 0;
  margin-bottom: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(117, 13, 165);
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(81, 13, 112);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}

.openSeaWrapper{
    
}
.openSeaContainer{
    
}

.openSeaContainer iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}
